<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <link href="{{ site.baseurl }}/public/css/whitey.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/public/css/style.css" rel="stylesheet">
  <link rel='icon' href="{{ site.baseurl }}/public/img/favicon.svg">
  <style>@import url({{ site.baseurl }}/public/css/syntax/{{ site.highlighter-theme }}.css);</style>
  <title>{{ site.title }}</title>
  <body>
  	<div class="container"> 
		<div class="sidebar">
			{% include sidebar.html %}
		</div>
		<div class="content" style="max-width: 90%;">
			{{ content }}
		</div>
	</div>
  </body>
</html>
